POSTGRES_USER=admin
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=ims_db

DATABASE_URL=postgresql+asyncpg://admin:your_password_here@postgres:5432/ims_db
MONGODB_URL=mongodb://mongodb:27017
REDIS_URL=redis://redis:6379
TIMESCALE_URL=postgresql://admin:your_password_here@timescaledb:5432/ims_metrics
